


<div class = "container">

    <div class = "row mt-5 text-light" >
    
        <div class = "col-mdd-4 d-fex justify-content-center mt-5 pt-5 nav-color ">
            <%= form_for :blog,url:{ action: :update },  method: :put do |f| %>
                
                <div class="d-flex py-4" >
                    Title <%= f.text_field :blog_title , :class => "form-control w-25 mx-3"%>
                     <%= f.text_field :blog_author,:type=>"hidden", :value =>current_user.username  %>
                    <%= f.number_field :user_id,:type=>"hidden",:value =>current_user.id %>
                </div>
                <div class="field">
                    <%= f.label :content %>
                    <%= f.rich_text_area :content %>
                </div>
                <%= f.submit  :class => "btn btn-outline-success my-3"%>
            <% end %>

            
            <%if flash[:blog_errors]%>
                <% flash[:blog_errors].each do |msg| %>
                    <div class="alert alert-danger">
                        <%= msg %>
                    </div>
                <% end %>
            <%end%>
        
        
        </div>
    
    </div>

</div>

