

<div class = "container-fluid mt-4 pt-5">
  <div class= "row">
    <div class="col-md-3  shadow-lg rounded recent-blog ">
      <%
      if session[:user_id].nil?%>
        
      <%else%>
            <%=link_to "Create Blog", new_blog_path, :class => "btn btn-outline-primary w-100 my-3"%>  
      <%end%>
      <%if flash[:login_restrict]%>
        <% flash[:login_restrict].each do |msg| %>
            <div class="alert alert-danger my-2">
                <%= msg %>
            </div>
        <% end %>
      <%end%>
      <hr>
      <h4>Recent Blogs<hr></h4>
      <% @blog.each do |blog| %>
        <% if @blog.nil? %>
          <p>No any blog created.... </p>
        <% else %>
          <ul>
          <%# This code gives helps me to give user avaatar of the user %>
              <%
                user_id = blog.user_id
                user = User.find(user_id)

              %>
            <li class="">
              <img src="<%=url_for(user.avatar)%>" class="profile ">
              <%=link_to blog.blog_title, blog, :class => "text-decoration-none text-success"%>(@<%=blog.blog_author%>)
            </li>
          </ul>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-9   ">
      <div class = "">
        
        <div class= "">
          <div class = "col-md-12 overflow-auto">
            <div class = "row">
            <div class= "col-md-12 " style="overflow:scroll; height:500px;">
              
              <% @blog.each do |blog| %>
                <div class = "col-md-12  ">
                <%
                  user_id = blog.user_id
                  user = User.find(user_id)

                %>
                  <div class = "card rounded">
                    <div class = "card-header header-color">
                      <div class="inner p-2  "  >
                        <div class="inner-p">
                          <h4 class="text-success my-1"><%=blog.blog_title%></h4>
                          <p>
                          <img src="<%=url_for(user.avatar)%>" class="profile ">
                            <span class="badge badge-white mx-1 text-dark border border-brand-green">
                              
                              <%=link_to blog.blog_author, profile_path(blog.blog_author), :class => "text-decoration-none text-success"%>
                              
                            </span>
                            <span class="badge badge-success mx-1 text-dark "><i class="fas fa-book-reader text-dark"></i> <%=blog.created_at.hour%>hr&nbsp;<%=blog.created_at.min%>min</span>
                            <span class="badge badge-primary mx-1 text-dark "><i class="fas fa-calendar-alt"></i> <%=blog.created_at.month%>, <%=blog.created_at.day%> &nbsp;<%=blog.created_at.year%></span>
                            
                          </p>
                        </div>
                      </div>
                    </div>

                      
                    <div class="trix-content card-body m-0">
                      
                      <div class="">
                        <%=blog.content.to_plain_text.truncate_words(25)%>
                      
                      </div>

                                            
                      
                      <div class="">
                        <%=link_to "Read More", blog, :class => "text-success text-decoration-none "%>
                        <%if isLogged_in%>  
                          <div class="">
                            <%= link_to '', blog_path(blog), :class => "fa fa-trash text-danger text-right ",
                            method: :delete,
                            data: { confirm: 'Are You sure?' } %>
                            <%=link_to "", edit_blog_path(blog.id), :class => "text-secondary fa fa-edit text-decoration-none mx-3"%>
                          
                          </div>
                        <%end%>
                      </div>
                      <div class="fb-comments" data-href="http://localhost:3000/blog" data-width="700" data-numposts="1"></div>

                  </div>
                </div>
              </div>
              <hr>
              <% end %> 
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
