

<div class = "container-fluid mt-4 pt-5">
  <div class= "row">
    <div class="col-md-3  shadow-lg rounded recent-blog "  >
      <%
      if session[:user_id].nil?%>
        
      <%else%>
            <%=link_to "Create Blog", new_blog_path, :class => "btn btn-outline-primary col-md-12 my-3"%>  
      <%end%>
      <%if flash[:login_restrict]%>
        <% flash[:login_restrict].each do |msg| %>
            <div class="alert alert-danger my-2">
                <%= msg %>
            </div>
        <% end %>
      <%end%>
      <hr>
      <h4>Recent Blogs<hr></h4>
      <div style="overflow:scroll; height:400px;">
        <% @blog.each do |blog| %>
          <% if @blog.nil? %>
            <p>No any blog created.... </p>
          <% else %>
            <ul>
            <%# This code gives helps me to give user avaatar of the user %>
                <%
                  user_id = blog.user_id
                  user = User.find(user_id)

                %>
              <div class=" "> 
                <kbd><%=link_to blog.blog_title , blog, :class => "text-decoration-none text-light "%>(<%=blog.created_at.strftime('%b %d, %Y')%>)</kbd><br>
                <div class="small badge badge-white  text-dark border  "><img src="<%=url_for(user.avatar)%>" class="profile-img-sm"><%=blog.blog_author%></div>
              </div>
            </ul>
          <% end %>
        <% end %>
      </div>
    </div>
    
    <div class="col-md-9   ">
      <div class = "">
        
        <div class= "">
          <div class = "col-md-12 overflow-auto">
            <div class = "row">
            <div class= "col-md-12 " style="overflow:scroll; height:500px;">
              
              <% @blog.each do |blog| %>
                <div class = "col-md-12  " >
                <%
                  user_id = blog.user_id
                  user = User.find(user_id)

                %>
                  <div class = "card  rounded shadow" id="box"  >
                    <div class = "card-header header-color">
                      <div class="inner p-1 "  >
                        <div class="inner-p bg-light p-2">
                          <h3 class="text-success "><%=blog.blog_title%></h3>
                          <p>
                          <img src="<%=url_for(user.avatar)%>" class="profile ">
                            <span class=" mx-1 text-dark border rounded p-1">
                              
                              <%=link_to blog.blog_author, profile_path(blog.blog_author), :class => "text-decoration-none text-uppercase text-dark"%> (<%=user.job%>)
                              
                            </span>
                            <%#  Lets suppose a person can read upto 50 words per minute%>
                            <%minute= blog.content.to_plain_text.scan(/[\w-]+/).size/50
                            if minute>=60
                              minute = minute%60
                              hour = minute/60 

                            end
                              
                            %>
                            <span class="badge badge-primary mx-1 bg-success text-light border border-brand-green "><i class="fas fa-book-reader text-light"></i> 
                            
                            <%=minute%>&nbsp;Min. Read</span>
                            <span class="badge badge-primary mx-1 bg-primary text-light "><i class="fas fa-calendar-alt text-light"></i> <%=blog.created_at.strftime('%b %d, %Y')%></span>
                            
                          </p>
                        </div>
                      </div>
                    </div>

                      
                    <div class="trix-content card-body m-0">
                      
                      <div class="">
                        <%=blog.content.to_plain_text.truncate_words(50)%>
                      
                      </div>

                                                                
                      
                      <div class="">
                      
                        <div ><%=link_to "Read More", blog, :class => "text-success d-flex mx-4 justify-content-end text-decoration-none "%>
                        </div>
                        
                        <%if isLogged_in && (current_user.id)== blog.user_id%>  
                          <div class="">
                            <%= link_to '', blog_path(blog), :class => "fa fa-trash text-danger text-right ",
                            method: :delete,
                            data: { confirm: 'Are You sure?' } %>
                            <%=link_to "", edit_blog_path(blog.id), :class => "text-secondary fa fa-edit text-decoration-none mx-3"%>
                                             
                          </div>

                        <%end%>
                        

                        <hr>
                        <div class="col-md-12">
                        <div id="like_cmnt_show " class="row text-center" >
                          
                            <div class="col-md-6 col-sm-6 col-lg-6">
                              <span id="likes<%=blog.id%>"></span> likes
                            </div>

                            <div id=<%=blog.id%> class="show-more-comment  col-md-6 col-sm-6 col-lg-6"><%=comment_on_specific_blog(blog.id).count%> comments</div>
                          
                          </div>
                        </div>
                        <hr>
                        
                        <%if isLogged_in%>
                          
                            <%=render "partials/like_comment_share" ,{blog_id: blog.id}%>

                        
                        <%end%>
                        
                        <div class="bg-light p-3" >
                          <%if comment_on_specific_blog(blog.id).count > 2 %>
                            
                            <div class = "mx-5 show-more-comment text-secondary" >View Previous comments</div>
                          <% end %>
                          <div class="my-3 ">
                        
                            <% comment_on_specific_blog(blog.id).each do |comments| %>
                            <div class="container d-flex">
                              <div class ="row">
                                <div class="col-md-12">
                                
                                  <a href="/profile/<%=find_UserbyCommentID(comments.user_id).username%>"><img src=<%=url_for(find_UserbyCommentID(comments.user_id).avatar)%>  class="profile-img-sm mx-4"></div></a>
                                </div>
                                
                                <div class="col-md-12 d-flex justify-content-between px-3 option " id="more-option-parent<%=comments.id%>">
                                
                                  <div  data-toggle="tooltip" data-placement="top" class="comment text-muted px-3" 
                                  title="By <%=find_UserbyCommentID(comments.user_id).username%>, on <%=comments.created_at.strftime('%b %d, %Y')%>">
                                  <%=comments.comment%></div>
                                  
                                  <div class=" show" id="more-option<%=comments.id%>">
                                    <div class="">
                                      <div  class="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-chevron-circle-down text-secondary" ></i>
                                      </div>

                                      <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">edit</a>
                                        <a class="dropdown-item" href="#">update</a>
                                        <a class="dropdown-item" href="#">delete</a>
                                      </div>
                                    </div>                                  
                                  </div>
                                </div>
                          
                              </div>
                            <% end %> 
                          <%if comment_on_specific_blog(blog.id).count > 2 %>
                            <div class=" mx-5 show-more-comment text-secondary my-4">View More Comments </div> 
                            <% end %>
                          </div>
                        </div>





                        <div >
                          <%if flash[:comment_saved]%>
                            <%flash[:comment_saved].each do |msg| %>
                              <div class="alert alert-success my-2">
                                <%= msg %>
                              </div>
                            <%end %>
                          <%end%>
                        </div>
                      </div>
                      
                  </div>
                </div>
              </div>
              <hr>
              <% end %> 
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
  </div>
</div>


